<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <header>
    <nav>
      <%= link_to 'Home', root_path %>
      <%= link_to 'About', about_path %>
    </nav>
  </header>

  <main class="d-flex justify-content-center align-items-center flex-column" >\
    <% flash.each do |name, msg| %>
      <ul>
        <li><%= msg %></li>
      </ul>
    <% end %>

    <% if @article.errors.any? %>
      <h2>The following errors prevented the article from saving:</h2>
      <ul>
        <% @article.errors.full_messages.each do |msg|%>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <%= yield %>
  </main>

  </body>
</html>
